*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
}

.header{
  width: 100%;
  height: 100vh;
  background: url("images/image.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar{
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  background: #E76100;
  z-index: 1;

}

.navbar__container{
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}
.navbar__left-logo img{
width: 110px;
}
.navbar__right{
  display: flex;
  list-style-type: none;
}
.navbar__right li a{
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  padding: 0 15px;
}

.container{
  width: 1200px;
  margin: 0 auto;
}