*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
}

.header{
  width: 100%;
  height: 100vh;
  background: url("images/image.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar{
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  background: #E76100;
  z-index: 1;

}

.navbar__container{
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}

.navbar__right{
  display: flex;
  list-style-type: none;
}
.navbar__right li a{
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  padding: 0 15px;
}
.navport{
  font-family: 'Nunito', sans-serif;
  font-size: 40px;
}
/* Helpers */
.container{
  width: 1200px;
  margin: 0 auto;
}

/* Helpers */
.row{
display: flex;
width: 100%;
}
.col-6{
width: 50%;
}
/*header*/
.header__content{
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: #fff;
  }
  .header__ul{
    list-style-type: none;
    display: flex;
    margin-bottom: 20px;
  }
  .header__ul li{
    width: 50px;
    height: 50px;
    border: 2px solid #ff4a57;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
  }

  .header__ul li:first-child{
    margin-left: 0;
  }
  .header__section h1{
    font-size: 57px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .header__section p{
    font-size: 26px;
    font-weight: 300;
    line-height: 40px;
    margin-bottom: 50px;
  }